body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.myBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.userControls {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gridContainer {
    display: grid;
    width: 500px;
    height: 500px;
    border: solid;
}

#gridContainer {

}